.title-text {
	-fx-font-size: 70 rem;
    -fx-stroke: linear-gradient(to left, rgba(131,49,124,1), rgba(228,226,85,1));
    -fx-fill: linear-gradient(to left, rgba(131,49,124,1), rgba(228,226,85,1));
    -fx-stroke-width: 5px;
    -fx-font-family: 'Arial';
}

.text {
    -fx-font-size: 20 rem;
    -fx-stroke: white;
    -fx-stroke-width: 2px;
    -fx-font-family: "Arial";
}

.text2, .text5 {
    -fx-font-size: 50 rem;
    -fx-stroke: white;
    -fx-fill: white;
    -fx-stroke-width: 5px;
    -fx-font-family: "Arial";
}

.text3, .text4 {
    -fx-font-size: 60 rem;
    -fx-stroke: white;
    -fx-fill: white;
    -fx-stroke-width: 5px;
    -fx-font-family: 'Arial';
}

/* Hover Styles */

.text.hovered, .text2.hovered, .text3.hovered, .text4.hovered, .text5.hovered {
    -fx-stroke: linear-gradient(to left, rgba(131,49,124,1), rgba(228,226,85,1));
    -fx-fill: linear-gradient(to left, rgba(131,49,124,1), rgba(228,226,85,1));
}